<!-- NAVBAR -->
<%= render partial: 'layouts/navbar' %>

<div class="row welcome-about">

  <!-- Render error messages -->
  <%= render partial: 'layouts/print_errors' %>
 
  <div class="col-xs-12">
    <h1>This is the about page. H1</h1>
    <h2>This is the about page. H2</h2>
    <h3>This is the about page. H3</h3>
    <h4>This is the about page. H4</h4>
    <p>This is the about page. P</p>
    <h5>This is the about page. H5</h5>
    <h6>This is the about page. H6</h6>
  </div>
</div>





