<div class="row wiki-edit" id="wrapper">

  <!-- Render sidebar -->
  <%= render partial: 'sidebar', locals: { wiki: @wiki} %>

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <div class="col-sm-6">
      <h2>Edit Wiki</h2>

      <%= render partial: 'form', locals: { wiki: @wiki} %>

      <% if @wiki.collaborators? %>
        <h3>Collaborators: </h3>
        <% @wiki.collaborators.each do |collaborator| %>
          <li><%= link_to collaborator.email, user_path(collaborator), class: 'navbar-link'%></li>
        <% end %>   
      <% end %>
    </div>

    <div class="col-sm-6">
      <h2>Live Preview</h2>
      <div id="live_wiki_preview"></div>
    </div>
  </div>

</div>