<div class="row wiki-index" id="wrapper">

  <!-- Sidebar -->
  <%= render partial: 'sidebar', locals: { wiki: @wiki} %>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="col-xs-12 col-md-8">
      <h1>Wikis</h1>
      <%= render @index %>
    </div> 
  </div>

</div>