<div class="row wiki-new">

  <div class="col-sm-6">
    <h2>New Wiki</h2>
    
    <%= render partial: 'form', locals: { wiki: @wiki} %>

    <% if current_user.premium? || current_user.admin? %>

    <% end %>
  </div>

  <div class="col-sm-6">
    <h2>Live Preview</h2>
    <h2 id="live_title_preview"></h2>
    <div id="live_body_preview"></div>
  </div>

</div>

