<!-- NAVBAR -->
<%= render partial: 'layouts/navbar' %>

<div class="row wiki-new">

  <div class="col-sm-6">
    <h1>New Wiki</h1>
    
    <%= render partial: 'form', locals: { wiki: @wiki} %>

    <% if current_user.premium? || current_user.admin? %>

    <% end %>
  </div>

  <div class="col-sm-6">
    <h1>Live Preview</h1>
    <h2 id="live_title_preview"></h2>
    <div id="live_body_preview"></div>
  </div>

</div>

