<div class="row wiki-show" id="wrapper">

  <!-- Render sidebar -->
  <%= render partial: 'sidebar', locals: { wiki: @wiki} %>

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <!-- Render error messages -->
    <div class="col-xs-12">
      <%= render partial: 'layouts/print_errors' %>
    </div>

    <div class="col-xs-12 wiki-info">
      <h2 class="wiki-title col-xs-11">
        <stong><%= @wiki.title %></strong>
      </h2>
    </div>

    <div class="col-xs-12">
      <%= markdown { @wiki.body } %>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>