/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "variables.scss";
@import "stripe.scss";
@import "subscriptions.scss";
@import "users.scss";
@import "welcome.scss";
@import "wikis.scss";

// Nasty navbar
.nav {

  @media (max-width: $screen-sm) {
    a {
      padding-right: 3px !important;
      padding-left:  3px !important;
    }
  }

  .dropdown-menu {
    min-width: 120px;
    // text-align: right;
  }

}

body {
  font-size: $base-font-size;

}

// h1 { font-size: 2em; }
// h2 { font-size: 1.5em; }
// h3 { font-size: 1.17em; }
// h4 { font-size: 1.12em; }
// h5 { font-size: .83em; }
// h6 { font-size: .75em; }

p {
  font-size: calc(1.0em + 0.25vw) !important;
}

h1 {
  font-size: calc(2.0em + 3.0vw) !important;
  font-weight: bold !important;
}

h2 {
  font-size: calc(1.5em + 1.0vw) !important;
}

h3 {
  font-size: calc(1.17em + 0.75vw)  !important;
}

h4 {
  font-size: calc(1.0em + 0.5vw) !important;
}



// Remove the resize on all textboxes
textarea {
  resize: none;
}


// Put this in the parent? to vert-center
.vertical-center {
  display: flex !important;
  align-items: center !important;
}

// Put this in the parent? to vert-align bottom
.vertical-bottom {
  display: flex !important;
  align-items: flex-end !important;
}

// Put this in the parent? to horz-center
.horizontal-center {
  display: flex !important;
  justify-content: center !important;
  // flex-wrap: wrap !important;
  // display: inline !important;
  // text-align: center !important;
}

.flex-container {
  display: flex !important;
}