.subscription-new {
  margin-top: 30px;

  .description {
    @media (max-width: $screen-sm) { 
      h4 {
        margin-top: 0;
      }
    }
  }

  .credit-card-box {
    max-width: 400px;
    
    .panel-title {
      font-weight: bold;
      padding-left: 15px;
    }

    .payment-errors {
      font-weight: bold;
      color: red;
    }

    form {

      .field, .field > * {
        display: block !important;
      }

      #card_number {
        width: 200px;
        max-width: 100%;
      }

      #card_cvc {
        width: 50px;
      }




    }
  }

}