.wiki-show {

  .wiki-title {
    padding-left: 0;
  }
}



.wiki-index {
  #page-content-wrapper .media {
    padding-left: 5px;
  }
}


.wiki-edit {

  #collaborators_section {
    position: relative;
  }
  .collaborators-list {
    padding-left: 0;

    a {
      text-decoration: none;
    }


    // Push below collaborators search bar for small screens
    @media (max-width: 500px) { 
      // margin-top: 130px;
    }
  }

  .collaborators-form {
    padding-right: 0;

    #search_bar {
      width: -webkit-fill-available;
      width: -moz-fill-available;
      width: -o-fill-available;
      width: fill-available;  
    }

    @media (max-width: $screen-sm) { 
      padding-left: 0;
    }
  }

  #live_title_preview {
    margin-top: 0;
  }
}


.sidebar-nav {
  .dropdown-menu {
    // margin-top: -10px;
    padding-top: 0;
    background-color: inherit;

    a {
      display: inline-block;
      padding: 0;
    }

    li {
      margin-top: -15px;
      text-indent: 2px;
    }

    .delete-collaborator {
      background-color: transparent;
    }

    .collaborator-name {
      text-indent: 0;
      margin-left: 5px;
    }
  }
}


// Move checkboxes over in form
.checkbox {
  margin-left: 20px !important;
  display: inline-block;
}

